<a href="https://colab.research.google.com/github/rachanajm/PySpark/blob/main/Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install pyspark

In [ ]:
import pyspark
from pyspark.sql import SparkSession #To start the spark session so it will connect to the cluster
spark = SparkSession.builder.appName('Practice').getOrCreate() #Spark cluster name
spark

In [ ]:
df_pyspark=spark.read.csv("/content/Employee.csv")
df_pyspark.show()

+-----------+-------------+----------+------+
|        _c0|          _c1|       _c2|   _c3|
+-----------+-------------+----------+------+
|Employee_ID|Employee_name|Department|Salary|
|          1|         Arun|        HR| 10000|
|          2|        Rahul|        IT|  4500|
|          0|            1|      Arun|    HR|
+-----------+-------------+----------+------+

In [ ]:
df_pyspark=spark.read.option('header','true').csv("/content/Employee.csv").show()

+-----------+-------------+----------+------+
|Employee_ID|Employee_name|Department|Salary|
+-----------+-------------+----------+------+
|          1|         Arun|        HR| 10000|
|          2|        Rahul|        IT|  4500|
+-----------+-------------+----------+------+