<a href="https://colab.research.google.com/github/rachanajm/PySpark/blob/main/Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install pyspark

In [ ]:
import pyspark
from pyspark.sql import SparkSession #To start the spark session so it will connect to the cluster
spark = SparkSession.builder.appName('Practice').getOrCreate() #Spark cluster name
spark

In [ ]:
df_pyspark=spark.read.csv("/content/Employee.csv")
df_pyspark.show()

+-----------+-------------+----------+------+
|        _c0|          _c1|       _c2|   _c3|
+-----------+-------------+----------+------+
|Employee_ID|Employee_name|Department|Salary|
|          1|         Arun|        HR| 10000|
|          2|        Rahul|        IT|  4500|
|          0|            1|      Arun|    HR|
+-----------+-------------+----------+------+

In [17]:
df_pyspark=spark.read.option('header','true').csv("/content/Employee.csv").show()

+-----------+-------------+----------+------+
|Employee_ID|Employee_name|Department|Salary|
+-----------+-------------+----------+------+
|          1|         Arun|        HR| 10000|
|          2|        Rahul|        IT|  4500|
+-----------+-------------+----------+------+

In [39]:
# Read the CSV with headers and store the DataFrame in df_pyspark
df_pyspark = spark.read.option('header','true').csv("/content/Employee.csv")

# Now you can display the DataFrame
df_pyspark.show()

# And select a column (ALWAYS USE SELECT)
df_pyspark.select(['Employee_name','Department']).show()

# Adding column
df_pyspark.withColumn('New_Salary',df_pyspark['Salary']+10000).show()

# Drop the columns
df_pyspark.drop('Salary').show()

# Rename the columns
df_pyspark.withColumnRenamed('Employee_name','Name').show()
df_pyspark.withColumnRenamed('Name','Employee_name').show()

# Filter
df_pyspark.filter("Salary>5000").show()
df_pyspark.filter("Salary>5000").select(['Employee_name','Salary']).show()

# Multiple filter
df_pyspark.filter((df_pyspark['Salary']>5000) &
                  (df_pyspark['Department']=="HR")).show()

# File metadata
df_pyspark.select("_metadata").show().display(df_pyspark)

+--------------------+
|           _metadata|
+--------------------+
|{file:/content/Em...|
|{file:/content/Em...|
+--------------------+

DataFrame[Employee_ID: string, Employee_name: string, Department: string, Salary: string]