<a href="https://colab.research.google.com/github/rachanajm/PySpark/blob/main/PySpark2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install pyspark

In [24]:
import pyspark
from pyspark.sql import SparkSession
import pyspark.sql.functions as F
from pyspark.sql.functions import to_date, col, trim
spark = SparkSession.builder.appName("Practice2").getOrCreate() # Add parentheses here to call the function and assign the SparkSession object to 'spark'

#Creating a dataframe
data = [
    (1, "Gilbert", "24", "Greece"),
    (2, "Antony", "32", "Bali"),
    (3, "KS Guard House  North 37th", "23", "Wichita")
]

headers = ["id", "name", "age", "country"]
df = spark.createDataFrame(data, headers)
df.show()

# df.filter(df.name.like("%%")).display()
df = df.withColumn('name', F.when(df.name == 'KS Guard House  North 37th', 'KS - Wichita - Guard House – East 37th').otherwise(df.name))
df.show()

+---+--------------------+---+-------+
| id|                name|age|country|
+---+--------------------+---+-------+
|  1|             Gilbert| 24| Greece|
|  2|              Antony| 32|   Bali|
|  3|KS Guard House  ...| 23|Wichita|
+---+--------------------+---+-------+

+---+--------------------+---+-------+
| id|                name|age|country|
+---+--------------------+---+-------+
|  1|             Gilbert| 24| Greece|
|  2|              Antony| 32|   Bali|
|  3|KS - Wichita - Gu...| 23|Wichita|
+---+--------------------+---+-------+

AttributeError: 'function' object has no attribute 'createDataFrame'